@use 'variables' as v;
@use 'mixins' as m;
@use 'sass:color';

.btn-contacto {
    @include m.boton(v.$naranja, inline-block);
    text-transform: none;
    border-radius: 5px;
    font-family: Roboto;
}

.btn-cotizar {
    @include m.boton(v.$primario, inline-block);
    text-transform: none;
    border-radius: 5px;
    padding-inline: 1.4rem;
}