<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si la solicitud no es para un archivo o directorio que existe...
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    # ...redirígela a index.php para que el router de PHP la maneje.
    RewriteRule ^ index.php [L]
</IfModule>

# Prevenir el listado de directorios
Options -Indexes
