<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirigir sitemap.xml a sitemap.php
    RewriteRule ^sitemap\.xml$ sitemap.php [L]

    # Si la solicitud no es para un archivo o directorio que existe...
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    # ...redirígela a index.php para que el router de PHP la maneje.
    RewriteRule ^ index.php [L]
</IfModule>

# Prevenir el listado de directorios
Options -Indexes

<IfModule mod_headers.c>
    # 1. Fuerza la comunicación segura (HTTPS) - Activar solo con SSL funcional
    # Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"

    # 2. Protege contra ataques de tipo MIME sniffing
    Header always set X-Content-Type-Options "nosniff"

    # 3. Previene el clickjacking
    Header always set X-Frame-Options "SAMEORIGIN"

    # 4. Controla el acceso a las APIs del navegador
    Header always set Permissions-Policy "geolocation=(), midi=(), notifications=(), push=(), sync-xhr=(), microphone=(), camera=(), magnetometer=(), gyroscope=(), speaker=(), vibrate=(), fullscreen=(self), payment=()"
</IfModule>