@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.no-webp .soluciones-contacto-bg {
    background-image: url(/build/img/soluciones-contacto.webp);
}

.webp .soluciones-contacto-bg {
    background-image: url(/build/img/soluciones-contacto.jpg);
}

.solucion-bg {
    &:nth-child(odd) {
        background-color: #F7F7F7;
    }

    @include m.desktop {
        &:nth-child(even) {
            .solucion {
                flex-direction: row-reverse;
            }
        }
    }
}

.solucion {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;

    @include m.desktop {
        padding: 6.5rem 0;
        flex-direction: row;
        gap: 2.5rem;
    }

    &__contenido {
        h2 {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-top: 0;
            font-family: v.$fuente_principal;
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 93.33%;
            justify-content: center;
            text-align: center;

            span {
                width: 3.5rem;
                height: 3.5rem;
                flex-shrink: 0;
            }
        }

        p {
            font-size: 1.4rem;
            color: #5C5C5C;
            text-align: justify;
        }

        ul {
            padding-left: 0;
            margin-bottom: 0;
        }

        li {
            display: flex;
            align-items: center;
            gap: 1rem;
            list-style-type: none;
            text-align: justify;
            font-size: 1.4rem;
            margin-bottom: 0;

            &:not(:last-child) {
                margin-bottom: 1.8rem;
            }

            svg {
                width: 2.5rem;
                height: 2.5rem;
                flex-shrink: 0;
            }
        }

        @include m.tablet {
            h2 {
                gap: 1.6rem;
                font-size: 3rem;

                span {
                    width: 4.5rem;
                    height: 4.5rem;
                }
            }

            p {
                font-size: 1.6rem;
            }

            li {
                font-size: 1.6rem;
            }
        }

        @include m.desktop {
            h2 {
                justify-content: flex-start;
            }
        }
    }

    &__imagen {
        picture, img {
            display: block;
            width: 100%;
            height: auto;
            border-radius: 7px;

            @include m.tablet {
                width: 560px;
                height: 380px;
            }
        }
    }
}

.soluciones-contacto-bg {
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    padding: 8rem 0;
}

.soluciones-contacto {
    max-width: 67rem;
    background-color: v.$blanco;
    border-radius: 1rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;

    svg {
        margin-top: -6rem; // Adds space between the icon and the title
        margin-bottom: 3rem;
        width: 4rem;
        height: auto;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 2.8rem;
        font-size: 2.2rem;
        font-family: v.$fuente_principal;
        font-weight: 400;
        text-align: center;
    }

    p {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: normal;
        text-align: center;
        max-width: 47rem;
    }

    .btn-soluciones-contacto {
        margin-top: 2.8rem;
        padding: 1.2rem 4.2rem;
        border-radius: 5px;
        font-size: 1.8rem;
        color: v.$blanco;
        background-color: v.$primario;
        transition: 0.3s ease all;

        &:hover {
            background-color: color.scale(v.$primario, $lightness: -10%);
        }
    }

    @include m.tablet {
        padding: 6rem 8rem;

        svg {
            margin-top: -8rem;
            margin-bottom: 5rem;
            width: 5rem;
        }

        h2 {
            font-size: 3.2rem;
            margin-bottom: 2.8rem;
        }

        p {
            font-size: 1.6rem;
        }
    }
}