@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.alerta {
    text-align: center;
    color: v.$blanco;
    font-size: 1.4rem;
    margin: 1rem 0 2rem 0;

    &__error {
        color: v.$error;
    }

    &__exito {
        color: v.$success;
    }
}