.layout {
    display: grid;
    min-height: 100vh;
    min-width: 0;  /* Rompe el mínimo size heredado */
    grid-template-rows: auto 1fr auto;

    &__header {
        min-width: 0;
        max-width: 100%;
    }

    &__contenido {
        min-width: 0;
        max-width: 100%;
    }
}