@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.no-webp .calculadora-inicio-bg {
    background-image: url(/build/img/calculadora-inicio-bg.png);
}

.webp .calculadora-inicio-bg {
    background-image: url(/build/img/calculadora-inicio-bg.webp);
}

.calculadora-inicio-bg {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    @include m.desktopS {
        background-attachment: fixed;
    }
}

.calculadora-inicio {
    width: 100%;
    height: 100%;
    padding-block: 7rem;
    background: rgba(0, 31, 63, 0.25);

    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;
        height: 100%;

        @include m.desktop {
            flex-direction: row;
            align-items: stretch;
        }
    }
}

.calculadora-inicio__formulario {
    background-color: v.$base;
    border-radius: 1rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 5rem 3rem 6rem 3rem;
    width: 100%;

    &:has(.formulario__opcion-bimestre-grid.grid-activo) {
        padding-block: 4rem;
    }

    @include m.desktop {
        max-width: 56rem;
        padding: 8rem 6.8rem 9rem 6.8rem;
    }

    h1 {
        color: v.$footer;
        font-size: 2.8rem;
        font-family: v.$fuente-principal;
        font-weight: 700;
        line-height: normal;
        margin-top: 0;
        margin-bottom: 4rem;
        margin-inline: auto;
        text-align: center;
        max-width: 40rem;

        @include m.tablet {
            font-size: 3.2rem;
        }

        @include m.desktop {
            text-align: left;
            margin-bottom: 6rem;
        }

        &::after {
            content: '';
            display: block;
            margin-top: 2.7rem;
            width: 20rem;
            height: 5px;
            background-color: v.$naranja;
            margin-inline: auto;

            @include m.desktop {
                margin-inline: 0;
            }
        }
    }

    .formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;

        &:has(.formulario__opcion-bimestre-grid.grid-activo) {
            gap: 3rem;
        }

        @include m.desktop {
            align-items: flex-start;
        }

        &__campo {
            display: flex;
            flex-direction: column;
            margin: 0;
            max-width: 70rem;
            
            @include m.desktop {
                max-width: 27rem;
            }

            label {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
                color: v.$footer;
                font-family: v.$fuente-header;
                font-size: 1.4rem;
                font-weight: 700;

                @include m.desktop {
                    font-size: 1.6rem;
                }

                .opcional {
                    color: v.$footer;
                    font-size: 1.2rem;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            input, select {
                border-radius: 0;

                &::placeholder {
                    color: v.$gris-oscuro;
                }
            }

            small {
                align-self: flex-end;
                color: #262626;
                font-family: v.$fuente-header;
                font-size: 1.2rem;
                line-height: normal;
                text-decoration-line: underline;
                cursor: pointer;
            }
        }

        &__campo:has(.formulario__opcion-bimestre-grid.grid-activo) {
            max-width: none; 
        }

        &__submit {
            font-weight: 800;
            border-radius: 8px;
            text-transform: none;
            width: 29rem;
            margin-inline: auto;
        }

        .formulario__opcion-bimestre-grid {
            &.grid-activo {
                display: flex;
                flex-direction: row; 
                justify-content: space-between; 
                align-items: center; 
            }
        }

        .formulario__opcion-bimestre {
            display: flex;
            align-items: center;
            gap: 0.6rem;
        }

        .formulario__checkbox-input {
            // Lo sacamos del flujo visual pero lo mantenemos accesible
            opacity: 0;
            width: 0;
            height: 0;
            position: absolute;
        }

        .formulario__label--checkbox {
            position: relative; // Necesario para posicionar el cuadro personalizado
            padding-left: 1.8rem; 
            cursor: pointer;
            font-size: 1.2rem;
            font-family: v.$fuente-header;
            font-weight: 400;
            color: v.$gris-oscuro; 
            line-height: normal;
            justify-content: flex-start;
            align-items: center;
            transition: all 0.3s ease; 
        }

        .formulario__checkbox-input:disabled + .formulario__label--checkbox {
            // El cursor cambia a "no permitido" para indicar que no es clickeable.
            cursor: not-allowed;
            // La opacidad se reduce para que se vea visualmente "apagado" o inactivo.
            opacity: 0.6;
        }

        .formulario__label--checkbox::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            
            // Dimensiones y estilo del cuadro
            width: 1.2rem;
            height: 1.2rem;
            border: 1px solid #CECECE; 
            background-color: #F0F0F0; 
            transition: all 0.3s ease;
        }

        // Cuando el input está SELECCIONADO..
        .formulario__checkbox-input:checked + .formulario__label--checkbox {
            // ...cambiamos el color del texto del label a naranja
            color: v.$naranja; 
        }

        .formulario__checkbox-input:checked + .formulario__label--checkbox::before {
            // ...y rellenamos nuestro cuadro personalizado de naranja
            background-color: rgba(197, 164, 52, 0.53);
            border-color: v.$naranja;
        }

        // Contenedor para los 6 inputs bimestrales
        .formulario__bimestres-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;
            
            // Estilos para la transición
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            visibility: hidden; 
            
            &.visible {
                max-height: 300px;
                opacity: 1;
                visibility: visible;
            }
        }

        // Contenedor para el input original
        #gastoPromedioContainer {
            max-height: 100px;
            opacity: 1;
            overflow: hidden;
            visibility: visible;

            &.hidden {
                max-height: 0;
                opacity: 0;
                visibility: hidden;
                margin: 0;
            }
        }

        // Estilos para el texto 'small' de ayuda
        #infoConsumoHistorico {
            display: block;
            align-self: flex-end;
            text-align: end;

            &.hidden {
                opacity: 0;
                height: 0;
                margin: 0;
                padding: 0;
                overflow: hidden;
            }
        }
    }
}

.calculadora-inicio__widgets {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;

    @include m.desktop {
        flex: 1 1 auto; 
        min-height: 0;
        justify-content: space-between;
    }

    .widget {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 3rem 3rem;
        background-color: v.$primario;
        border-radius: 1rem;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        width: 100%;

        @include m.desktop {
            width: 56rem;
            padding: 5rem 7rem;
        }

        &:nth-child(even) {
            background-color: v.$base;

            h3, p {
                color: v.$footer;
            }
        }

        h3 {
            color: v.$base;
            font-size: 1.8rem;
            font-family: v.$fuente-principal;
            font-weight: 600;
            line-height: normal;
            margin: 0;
            
            @include m.tablet {
                font-size: 2.4rem;
            }
        }

        p {
            color: v.$base;
            font-size: 2.8rem;
            font-family: v.$fuente-principal;
            font-weight: 700;
            line-height: normal;
            margin: 0;

            @include m.tablet {
                font-size: 4rem;
            }
        }

        svg {
            max-height: 6rem;
            width: auto;
        }
    }
}



/* =================================
   ESTILOS PARA EL MODAL TUTORIAL
   ================================= */
#info-tarifa-trigger,
#infoConsumoHistorico {
    cursor: pointer;
    transition: 0.2s ease all;
    &:hover {
        color: v.$naranja; // Cambia a tu color de hover preferido
    }
}

.modal-overlay {
    position: fixed; /* Se posiciona sobre toda la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Fondo negro semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000; /* Se asegura de que esté por encima de todo */
    
    /* Oculto por defecto con una transición suave */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    /* Clase que lo hará visible */
    &.visible {
        opacity: 1;
        visibility: visible;
    }
}

.modal-contenido {
    position: relative;
    background-color: #fff; /* Fondo blanco para el contenedor de la imagen */
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    max-width: 90%;
    max-height: 90vh; /* Ocupa máximo el 90% de la altura de la pantalla */

    img {
        display: block; /* Elimina espacios extra debajo de la imagen */
        max-width: 100%;
        max-height: calc(90vh - 4rem); /* Ajusta la altura máxima para que quepa el padding */
        height: auto;
    }
}

.modal-cerrar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: #333;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    line-height: 1;

    &:hover,
    &:focus {
        color: v.$naranja; // Tu color de hover
        text-decoration: none;
    }
}